.heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

.button_box {
    display: flex;
    gap: 1rem;
}

.button_with_title {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}