<main>
  <div class="content">
    <h2>
      Editar Livros:
    </h2>

    <hr>

    <div>
      <form action="/book/edit" method="POST">
        {{#if books}}
          <label for="_id">ID: </label>
          <input
            type="text"
            id="_id"
            name="_id"
            readonly="true"
            class="form-control"
            value="{{books._id}}"
          />
          <br />

          <label for="nome">Nome: </label>
          <input
            type="text"
            id="nome"
            name="nome"
            class="form-control"
            value="{{books.nome}}"
          />
          <br />

          <label for="descricao">Descrição: </label>
          <input
            type="text"
            id="descricao"
            name="descricao"
            class="form-control"
            value="{{books.descricao}}"
          />
          <br />

          <button type="submit" class="button">Editar tarefa</button>
        {{/if}}
      </form>
    </div>
  </div>
</main>