<link rel="stylesheet" href="/style/listView.css">
<main>
  <div class="content">
    <h2> Adicionar autor: </h2>

    <hr>

    <div class="card">

      <form action="/author/add/new" method="POST" class="item">

        <label for="nome"><b>Nome: </b></label>
        <input
          type="text"
          id="nome"
          name="nome"
          placeholder="Digite o nome do autor"
        />
        <br />

        <label for="nacionalidade"><b>Nacionalidade: </b></label>
        <input
          type="text"
          id="nacionalidade"
          name="nacionalidade"
          placeholder="Digite a nacionalidade do autor"
        />
        <br />

        <button type="submit" class="button">Adicionar</button>
      </form>

    </div>
  </div>
</main>