<link rel="stylesheet" href="/style/listView.css">

<main>
  <div class="content">
    <h2>Autores</h2>
    <hr />
    <a href="/author/add" style="width: fit-content;">
      <button class="button">Adicionar Autor</button>
    </a>
    {{#each author}}
      <div class="item">

        <p style="margin-bottom: 0.5rem;"><b>Nome:</b> {{nome}} </p>
        <p style="margin-bottom: 0.5rem;"><b>Nacionalidade:</b> {{nacionalidade}} </p>

        <div>
          <a href="/author/edit/{{_id}}">
            <button class="button blue">
              Editar Informações
            </button>
          </a>
          <a href="/author/delete/{{_id}}">
            <button class="button red">
              Deletar Autor
            </button>
          </a>
        </div>
      </div>
    {{/each}}
  </div>

</main>