<link rel="stylesheet" href="/style/listView.css">
<main>
  <div class="content">
      <h2> Editar informações: </h2>

      <hr>

      <div>
          <form action="/author/edit" method="POST" class="item">
            {{#if author}}

              <label for="nome"><b>Nome: </b></label>
              <input
                type="text"
                id="nome"
                name="nome"
                class="form-control"
                value="{{author.nome}}"
              />
              <br />

              <label for="descricao"><b>Nacionalidade: </b></label>
              <input
                type="text"
                id="nacionalidade"
                name="nacionalidade"
                class="form-control"
                value="{{author.nacionalidade}}"
              />
              <br />

              <button type="submit" class="button">Atualizar
                informações</button>
            {{/if}}
          </form>
      </div>
    </div>
</main>