<link rel="stylesheet" href="/style/homePage.css">

<main>
  <div class="content">
    <div class="heading">
      <h2>Seja bem vindo a Big Library!</h2>

      <p>
      Explore mundos infinitos, mergulhe em histórias cativantes e deixe-se envolver pela magia da literatura em nossa livraria online. Com uma vasta seleção de títulos dos mais diversos gêneros, desde os clássicos atemporais até os lançamentos mais recentes, nossa livraria é o destino perfeito para todos os amantes da leitura. Navegue por nossas estantes virtuais e descubra novas aventuras, personagens fascinantes e lições inspiradoras que irão enriquecer sua mente e alimentar sua imaginação. Seja você um ávido leitor em busca de sua próxima grande história ou um explorador curioso pronto para se aventurar por novos universos literários, nossa livraria tem algo especial reservado para cada tipo de leitor. Deixe-se levar pelas páginas dos livros e embarque em uma jornada inesquecível através das palavras.
      </p>
    </div>

    <div class="button_box">
      <div class="button_with_title book">
        <h3>
          Conheça nossa lista de autores:
        </h3>

        <button class="button">Lista de autores</button>
      </div>

      <div class="button_with_title book">
        <h3>
          Conheça nossa lista de livros:
        </h3>

        <button class="button">Lista de livros</button>
      </div>
    </div>

  </div>
</main>