<link rel="stylesheet" href="/style/listView.css">
<main>
    <div class="content">
      <h2> Novo livro: </h2>
      <hr>

      <form action="/book/add/new" method="POST" class="item">
        <label for="nome"><b>Nome: </b></label>
        <input
          type="text"
          id="nome"
          name="nome"
          placeholder="Digite o nome do livro"
        />
        <br />

        <label for="descricao"><b>Descrição: </b></label>
        <input
          type="text"
          id="descricao"
          name="descricao"
          placeholder="Digite a descrição do livro"
        />
        <br />

        <label for="genero"><b>Gênero: </b></label>
        <input
          type="text"
          id="genero"
          name="genero"
          placeholder="Digite o gênero do livro"
        />
        <br />

        <button type="submit" class="button">Cadastrar livro</button>
      </form>
    </div>
</main>