<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initialscale=1.0" />

    <link rel="stylesheet" href="/style/global.css">

    <title>Big Library</title>
  </head>
  <body>
    <header>
        <h1>Big Library</h1>

        <nav>
          <a href="/book" class="button">Livros</a>
          <a href="/author" class="button">Autores</a>
        </nav>
    </header>
    {{{body}}}
  </body>
</html>